# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Dependency directories
.vite

src/components/Contacts/Parrain1-aopia.txt
src/components/Contacts/Parrain1-Like.txt
src/components/Contacts/Parrain2-aopia.txt
src/components/Contacts/Parrain2-Like.txt
src/components/Contacts/parrain3-aopia.txt
src/components/Contacts/parrain3-Like.txt

# Credentials
.env
.env*.local
client_*.json
*.plist
*.jks
*.keystore

